<div class="col-md-6 offset-md-3">
<br>

<h3>Create Employee</h3>

<form (ngSubmit)="onSubmit()">
<div class="form-group">
<label>Employee Id:</label>
<input type="text" class="form-control" id="firstName"
 [(ngModel)]="employee.eid" name="firstName">
</div>

<div class="form-group">
    <label>Employee Name:</label>
    <input type="text" class="form-control" id="lastName"
     [(ngModel)]="employee.ename" name="lastName">
    </div>


    <div class="form-group">
        <label>Email:</label>
        <input type="text" class="form-control" id="email"
         [(ngModel)]="employee.email" name="email">
        </div>
        <div class="form-group">
            <label>Salary:</label>
            <input type="text" class="form-control" id="salary"
             [(ngModel)]="employee.salary" name="salary">
            </div>
            <div class="form-group">
                <label>Designation:</label>
                <input type="text" class="form-control" id="des"
                 [(ngModel)]="employee.des" name="des">
                </div>
                <div class="form-group">
                    <label>Mobile:</label>
                    <input type="text" class="form-control" id="mobile"
                     [(ngModel)]="employee.mobile" name="mobile">
                    </div>
<br>
<button class="btn btn-success" type="submit">submit</button>

</form>

</div>
